<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-eaten="{{eaten}}">
		{{#if eaten}}Chow Down!{{else}}Order More!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">Remove from menu</button>
</li>